/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--bg-Darkgray: #404040;
	--orange: #fb7f40;
	--orange-light: #fa915d;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.bag:hover {
	background: #dddddd;
	border-radius: 50%;
	transition: all ease 0.3s;
	overflow: hidden;
}
.heart:hover {
	background: #dddddd;
	border-radius: 50%;
	transition: all ease 0.3s;
	overflow: hidden;
}
.logo:hover {
	color: #696969;
	transition: all ease 0.3s;
}
.btn:hover {
	color: #a8a8a8;
	transition: all ease 0.3s;
}
.btn-checkout:hover {
	background-color: var(--bg-Darkgray);
}

.contenedor {
	min-height: 100vh;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.text-orange {
	color: var(--orange);
}
.submit {
	background-color: var(--orange);
}
.submit:hover {
	background-color: var(--orange-light);
}
